.follow_main{
    width: 600px;
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
    display: flex;
    flex-direction: column;
}
.follow_top{
    position: sticky;
    padding: 10px;
    color: var(--text-primary);
}
.follow_Back{
    display: flex;
    gap: 30px;
    align-items: center;
}
.tabs4 {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    border-bottom: 1px solid var(--border);
    font-size: 20px;
    align-items: center;
}
.tab4{
    text-align: center;
    padding: 12px 0;
    cursor: pointer;
    font-size: 16px;
    color: var(--text-primary);
}
.tab4.active{
  color: var(--text-primary);
  border-bottom: 3px solid var(--accent);
  font-size: 20px;
  font-weight: bold;
}
.follow_right {
    flex: 1;
}
.follow_Search{
    position: relative;
    width: 90%;
    margin: 0 auto;
    margin-top: 5px;
}
.follow_Icon{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: var(--text-primary);
}
.search2{
    width: 90%;
    padding: 10px 10px 10px 40px;
    border-radius: 25px;
    border: 1px solid var(--border);
    background-color: transparent;
    font-size: 14px;
    color: white;
}